.footer-section{
    background-color: rgb(5, 0, 0);
    color: #fff;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.footer-text{
    transform: translateY(50%);
}

.images{
    max-width: 120px;
}
.book-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    grid-template-rows: minmax(85px,auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
    max-width: 100%;
}
.book{
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #3cf593!important;
    cursor: pointer;
}
.home,.newbook,.contact{
    height: 100vh;
}
.modal-dialog {
    max-width: 850px;
    margin: 1.75rem auto;
    
}
.book-details{
    display: flex;
}

.books-image>img{
    max-width: 130px;
}